@import "style.sass"

/*************************************/
/*        Section Presentation       */
/*************************************/
  
.presentation
  @include display-flex
  align-items: center
  justify-content: space-between

.information
  display: inherit
  flex-flow: column wrap
  .presentation-text
    line-height:130%
    font-size:$size-4 
    span
      font-weight:500
        
.call-action
  margin-top: 16px
  .action-link
    float: left
    margin-right: 16px
    border-radius: 8px
    padding: 8px 32px 8px 32px
    &:hover
      opacity: 0.8 
    &.primary
      background-color: $light-blue-0
      color: $light-1
      border: $light-blue-0 solid 2px
    &.secondary
      color: $gray-1
      background-color: $light-1       
      border: $light-blue-1 solid 2px

.media-content
  @include display-flex
  align-items: center
  .website
    padding: $size-7
    border-radius: 50%
    margin: $size-8 0 $size-8 0 
    &:hover
      opacity: 0.8
      background-color: $light-2
      transition: background-color .2s linear
    img
      display: inline
      vertical-align: middle
      padding:$size-9
      width: $size-4
      height: $size-4
  .img-profile
      img
        height:240px
        border-radius: 50%
        margin: 0 $size-5 0 $size-5

/*************************************/
/*        Section Project            */
/*************************************/

.work-home, .about-me
  padding-top: $size-3

.card-container 
  position: relative
  padding: 0 $size-5 0 $size-5
  .overflow-cards    
    overflow-x: hidden
    padding: $size-5
  .action-overflow
    position: absolute
    top: calc(50% - #{$size-6}) 
    padding:$size-7
    border-radius: 50%
    background-color: $light-3
    opacity: 0.8 
    &:hover
      opacity: 1
      transition: opacity .5s
    &:focus
      opacity: 1
      transition: opacity .5s
    &.back
      left: 0
    &.next
      transform: rotate(180deg) 
      right: 0
    span
      display: inline-block
      background-image: url("../assets/svg/row.svg")
      background-repeat: no-repeat
      background-position: center
      vertical-align: middle
      background-size: 100%
      height: $size-5
      width: $size-5
          
.works-card
  @include display-flex
  position: relative
  width: max-content
  transition: .7s ease-in-out 
  .work-card
    height: 240px
    width: 240px
    margin-right: $size-5
    border: 1px solid $light-blue-1
    border-radius: $size-7
    padding:$size-4 $size-5 $size-4 $size-5
    background-color: $light-1
    box-shadow: $shadow-3
    transition: .2s ease-in-out
    &:hover
      transform: scale(1.1)

.work-body
  @include display-flex
  height: 100%
  width: 100%
  &.vertical-card
    flex-flow: wrap
    align-content: space-between  
  .work-information
    line-height:120%
    p
      color:$dark-blue-1
      font-size: $size-6
  .footer
    width: 100%    
    .work-header
      margin-top: $size-7
      h4
        font-weight: bold
        color:$light-blue-0
        small 
          color: $gray-0
      h5
        color:$gray-0      
    .work-footer
      @include display-flex
      justify-content: space-between
      margin-top: $size-7
      img
        margin-right: $size-9
        height: $size-5
      .work-link
        background-color: $light-blue-0
        padding: 4px 32px
        border-radius: 4px
        font-weight: bold
        color:$light-1
        &:hover
          opacity: .8    

/*************************************/
/*        Section About me           */
/*************************************/
.about-me
  .container-summary
    padding: $size-5 0 
    .summary
      font-size: 16px
      line-height:130%
      color: $gray-0
      span
        font-weight: bold
        color: $light-blue-0  

.tools-section
  @include display-flex
  align-items: center
  margin-top: 16px
  color: $gray-0
  h4
    font-weight: bold
    

.tool-list
  @include display-flex
  flex-flow: row wrap
  margin-left: 16px
  
.tool-item
  display: inherit
  padding-right: 16px
  align-items: center  
  img
    display: block
    padding: 2px
    width: 24px


/*************************************/
/*              Themes               */
/*************************************/ 
.light-theme
  .information
    .title
        color: $light-blue-0
    .presentation-text     
      color: $gray-0
      span
        color:$light-blue-0
  .media-content
    .social
      &:hover
        background-color:$light-3
  .work-home, .about-me
    .title
      color: $gray-1

/*************************************/
/*           Media queries           */
/*************************************/
@media (max-width:$tablet)
  .presentation 
    flex-flow: column
    justify-content: center

  .information
    flex-flow: column wrap
    align-items: center
    order:1
    .title
      margin-bottom: $size-8
    .presentation-text
      font-size:$size-5 
    .call-action
      width: 100%
      text-align: center     

  .media-content
    flex-flow: column wrap
    .website-list
      @include display-flex
      flex-flow: row nowrap
      background-color: none
    .social
      padding: $size-7
      margin: $size-7 
      img
        width: $size-3
    .img-profile
      img
        height:240px

  .call-action
    .action-link
      float: auto
      margin-bottom: 8px
      width: 100%

  .tools-section
    flex-direction: column
    align-items: start

  .tool-list
    margin: 0   
      

@media (max-width:$mobile)
  .presentation-text
    font-size:$size-5
  
  .img-profile
    img
      height:240px
  .work-card
    height: 232px
    width: 232px

  .card-container
    padding: 0 $size-6 0 $size-6 

/// scroll-behavior: smooth